*{
    margin: 0px;
    padding: 0;
}
/*font color*/
.secondary{
    color: #666666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.contenedorContacto{
    display: flex;
    justify-content: space-around;
}

.contenedorInput{
    display: flex;
    align-items: center;
}

.botonSus{
    background-color: #AAAAAA;
    border: 1px solid #AAAAAA;
    color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

img{
    margin-top: 15px;
    margin-left: 15px;
}

.inputSuscribite{
    width: 300px;
    height: 40px;
    margin-right: 5px;
}

.contenedorVentaTel{
    display: flex;
    flex-direction: column;
}
.venta{
    color:#E6460D;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.num{
    font-weight: bold;
}
.horario{
    font-weight: bold;
}

.contenedorRedesSociales{
    width: 250px;
    display: flex;
    align-items: center;
   
}
.logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.contenedorCategorias{
    display: flex;
    width: 100%;
    border-top: #d8d8d8 1px solid;
    border-bottom: #d8d8d8 1px solid;;
    background-color: #F4F4F4;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
   
    min-height: 400px;
}

.itemLista{
    display: block;
    margin-top: 15px;
    text-decoration: none;
}

.mailto{
    text-decoration: none;
}
.hoverFooter:hover{
color: white;
}

.hoverSus:hover{
    background-color: #666666;
}

.color{
    background-color: #F4F4F4!important;
}
.soloDesktop{
    margin-top: 20px;
}

.ventasCorporativas{
    width: 200px;
    height: 40px;
    background-color: #E6460D;
    border-radius: 3px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 18px;
    color: white;
}

.bordercss{
    border-top: #d8d8d8 1px solid;
    border-bottom: #d8d8d8 1px solid;;
}
@media (max-width: 1050px) {
    .contenedorContacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        text-align: center;
    }
    .inputSuscribite{
        width: 350px;
        height: 40px;
        margin-right: 5px;
    }

    .venta{
        font-size: 25px;
    }

    .secondary{
        font-size: 20px;
    }

    .logo{
        
        width: 25px;
        height: 15px;
    }
    
    #divSubFooter_1{
        display: none;
    }

    .contenedorCategorias{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .soloDesktop{
        margin-top: 40px;
        font-size: 20px;
        
    }
  .contenedorRedesSociales{
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1050px) {
   #accordionFlushExample{
    display: none !important;
   }
  
}

